{% extends 'base.html' %}


{% block content %}

<h1>Редактирование профиля</h1>

<form action="." method="post" enctype="multipart/form-data">

    <div class="container">

        {% csrf_token %}
        {% for i in user_form %}
            <div class="loginput">
                {{ i }}
            </div>
        {% endfor %}

        {% for i in profile_form %}
            <div class="loginput">
                {{ i }}
            </div>
        {% endfor %}

        <div class="loginput">
            <input type="submit" value="обнвить">
        </div>
    </div>
</form>

{% endblock %}