{% extends 'base.html' %}
{% load static %}

{% block content %}

			<div class="container">
				<div class="content__block">
					<div class="content__left">
						<div class="left__items">
							<div class="left__ava">
								{% if mydata.photo %}
									<img src="{{ mydata.photo.url }}" alt="">
								{% else %}
									<img width='250px' src="{% static 'account/img/ava.jpg' %}" alt="">
								{% endif %}
							</div>
							<div class="left__edit">
								<a href="{% url 'account:edit' %}">Редактировать профиль</a>
								<br><br>
								<a href="{% url 'account:password_change' %}">Поменять пароль</a>
								<br><br>
								<a href="{% url 'account:user_list' %}">Искать друзей</a>
							</div>

						</div>
						
					</div>
					<div class="content__right">
						<div class="right__items">
							<div class="right__nickname">
								gold_apple
							</div>
							<div class="right__links">
								<a href="#">15 публикаwий</a>
								<a href="#">123 подписчиков </a>
								<a href="#">97 пописок </a>
							</div>
							<div class="right__status">
								Это мой статус
								<br><br>
								#спорт #путешествия #фотография #скульптура #готовкаеды #байк #еда
							</div>
						</div>
					</div>
				</div>
				<div class="content__block2">
					<div class="content__news">
						Подписки 40

						{% for i in action %}
						{% with user=i.user profile=i.user.profile %}

							{% if profile.photo %}
							<a href="{{ user.get_absolute_url }}">
								<img width="50px" src="{{ user.profile.photo.url }}" alt="">
							</a>
							{% endif %}
							<div>
								<span>
									{{ i.created }}
									<div>
										<a href="{{ user.get_absolute_url }}">{{ user.first_name }}</a>
										{{ i.verb }}
									</div>
								</span>
							</div>
						{% endwith %}
						{% endfor %}

						{% for i in lenta %}

							{{i.user.username}}

							{% if i.image %}
							<img width="60px" src="{{ i.image.url }}" alt="">
							{% endif %}

							{{ i.description }}

						{% endfor %}


						<div class="news">
							<div class="news__img">
								<img src="{% static 'account/img/news1.jpg' %}" alt="">
							</div>
							<div class="news__text">
								Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Iste animi quisquam repudiandae.
							</div>
						</div>
						<div class="news">
							<div class="news__img">
								<img src="{% static 'account/img/news2.jpg' %}" alt="">
							</div>
							<div class="news__text">
								Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Iste animi quisquam repudiandae.
							</div>
						</div>


						<div class="news">
							<div class="news__img">
								<img src="img/11.png" alt="">
							</div>
							<div class="news__text">
								Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Iste animi quisquam repudiandae.
							</div>
						</div>


						<div class="news">
							<div class="news__img">
								<img src="img/55.jpg" alt="">
							</div>
							<div class="news__text">
								Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Iste animi quisquam repudiandae.
							</div>
						</div>
						<div class="news">
							<div class="news__img">
								<img src="img/56.jpg" alt="">
							</div>
							<div class="news__text">
								Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Iste animi quisquam repudiandae.
							</div>
						</div>
					</div>
	
					<div class="content__pub">
						<div class="post">
							<div class="post__all">
								Ваши публикации: всего {{request.user.images_created.count}}
								<span class="post__button">
								<a href="{% url 'images:create' %}">Cоздать запись</a>
							</span>
								<span class="post__button">
								<a href="{% url 'images:create' %}">Новостная лента</a>
							</span>
							</div>
							{% for i in posts %}
								{% if i.image %}
									<img width='400px' src="{{ i.image.url }}" alt=""><br>
								{% endif %}
							<div class="icon">
								<a href="#">
									<img width='30px' src="{% static 'account/img/heart.png' %}" alt="">
								</a>
								<a href="#">
									<img width='30px' src="{% static 'account/img/comment.png' %}" alt="">
								</a>
							</div>
							<div class="post__desc">
								<a href="{% url 'images:detail' i.id i.slug  %}">{{ i.description }}</a>
							</div>
							<div class="post__created">
								{{ i.created }}
							</div>
							<div class="post__comment">
								<a href="#">Читать комментарии</a>
							</div>

							{% endfor %}
						</div>
					</div>
				</div>
			</div>

{% endblock %}