* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}


.body{
  font-family: 'calibri';
}
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.navbar{
  height: 50px;
  background-color: white;
  flex: 0 0 auto;
  padding: 5px;

  -webkit-box-shadow: 2px 7px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 2px 7px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 2px 7px 8px 0px rgba(34, 60, 80, 0.2);

}

.navbar a {
  font-size: 30px;
  color: black;

}

.content{
  background-color: whitesmoke;
  min-height: 100%;
  flex: 1 0  auto;
}


.footer{
  flex: 0 0 auto;
  padding: 10px;
  background-color: whitesmoke;
  text-align: center;

}

.footer a {
  margin: 0 60px 0 0 ;
  color: gray;
}

.content__items {
  display: flex;
  padding: 150px;
}

.content__text {
  flex: 0 1 60%;
}

.content__title {
  font-size: 50px;
  color: blue;
  font-weight: 700;
}

.content__subtitle {
  font-size: 20px;
}

.content__login {
  background-color: white;
  flex: 0 1 30%;
  border-radius: 10px;
  padding: 30px;



  -webkit-box-shadow: -1px 0px 13px 0px rgba(34, 60, 80, 0.12);
-moz-box-shadow: -1px 0px 13px 0px rgba(34, 60, 80, 0.12);
box-shadow: -1px 0px 13px 0px rgba(34, 60, 80, 0.12);
}





.loginput input{
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  margin: 0 0 10px 0;


}

.content__reg{
    margin: 0 0 10px 0;
}
.content__reg a {
  width: 90%;
  background-color: #20c744;
  margin: 20px 20px;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.content__button input{
  width: 90%;
  background-color: blue;
  margin: 0 0 5px 0;
  color: white;
  border-radius: 5px;
  padding: 5px;
}


.content__gogle {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 10px;

}


.content__gogle img{
    width: 45px;
}

.content__gogle a {
    color: black;

}


.passwordt{
  margin: 0 0 10px 0;
  text-align: center;
}


.reset_done{
    margin: 40px 100px;
    font-size: 22px;
    padding: 20px 60px 20px 30px;
    border: 2px solid gray;
    border-radius: 10px;
    display: inline-block;
}
