{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<title>HTML теги-формы</title>
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/home.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/login.css' %}">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	{% block head %}{% endblock %}
</head>
<body>

	<div class="wrapper">
		<div class="navbar">
			<div class="container">
				<a href="{% url 'account:home' %}">Главная</a>
				{% if user.us_authenticated %}
					<a href="#">Пукнуть</a>
					<a href="#">Купить</a>
				{% endif %}
				{% if user.is_authenticated %}
					<a href="#">Привет, {{ user.username }}</a>
					<a href="{% url 'logout' %}">Выйти</a>
				{% else %}
					<a href="{% url 'login' %}">Войти</a>
				{% endif %}
			</div>
		</div>

		<div class="content">

			 {% if messages %}
				<div class="messages">
					{% for i in messages %}
						<div class="{{i.tags}}">
							{{ i|safe }}
							 <a href="#">X</a>
						</div>
					{% endfor %}
				</div>
			{% endif %}





            {% block content %}{% endblock %}
        </div>

		<div class="footer">
			<a href="#">Правила</a>
			<a href="#">О нас</a>
			<a href="#">Для бизнеса</a>
			<a href="#">Разработчикам</a>
			<a href="#">Английский</a>
		</div>
	</div>

	<script src="{% static 'js/bookmarklet.js' %}"></script>
<!--	<script src="{% static 'js/bookmarklet.js' %}"></script>-->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

	<script>
 		var csrftoken = Cookies.get('csrftoken');
 		functioncsrfSafeMethod(method) {
		 return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		 }
		 $.ajaxSetup({
		 beforeSend: function(xhr, settings) {
		 if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
		 xhr.setRequestHeader("X-CSRFToken", csrftoken);
		 }
		 }
		 });
		$(document).ready(function())
		 {% block domready %}{% endblock %}
		 });
	</script>


</body>
</html>

