{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'account/css/base.css' %}">
</head>
<body>

    <div class="wrapper">
        <div class="navbar">
            {% block navbar %}{% endblock %}

            {% if request.user.is_authenticated %}
                <a href="#">Home</a>
                <a href="#">Images</a>
                <a href="#">World</a>
                <a href="{% url 'user_list' %}">people</a>
            {% endif %}

            {% if request.user.is_authenticated %}
                Hello {{ request.user.first_name }},
                <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a href="{% url 'login' %}">Войти</a>
            {% endif %}
        </div>
        <div class="content">

            {% if messages %}
                {% for i in messages %}
                    {{ i|safe }}
                     <a href="#">X</a>
                {% endfor %}
            {% endif %}




            Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Sapiente, nostrum dolores cum eos, fugiat ea similique quasi, molestias sit deserunt nihil non, excepturi voluptatibus. Non, accusamus alias animi? Eos, veritatis.
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>