{% extends 'base.html' %}

{% block content %}

<h1>Вход</h1>

  {% if form.errors %}
    <p>попа 1</p>
  {% else %}
    <p>popa 2</p>
  {% endif %}

<form action="." method="post">

  {% csrf_token %}
  {{ form.as_p }}
  <input type="hidden" name="text" value="{{ next }}" />
  <input type="submit" value="вход">
</form>

<p><a href="{% url 'password_reset' %}">Забыл аппроль</a></p>
<p><a href="{% url 'register' %}">Создать аккаунт если его нет</a></p>

<p><a href="{% url 'social:begin' 'google-oauth2' %}">Зарегайся через гугл</a></p>


{% endblock %}
